*{
  margin: 0;
  padding: 0;
}

 /* navigation part */
.navbar{
  background-color: rgb(118, 117, 117);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: -5px;
}

.logo{
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.menu-item{
  margin-right: 100px;
}
.logo:hover{
  color: whitesmoke;
  transition: all 0.5s;
}

.items{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.li{
  margin: 0px 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.li:hover{
  color: cyan;
  transition: all 0.5s;
  background-color: rgb(85, 85, 85);
}
/* banner part */
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 696px;
  will-change: 100%;
  background-color: rgb(52, 51, 51);
}

.banner-img{
  width: 600px;
  height: 400px;
  margin: 0px 50px 30px -30px;
}

.banner-text{
  justify-content: center;
  align-items: center;
  margin: 19px 54px 40px 60px;
  padding: 20px 20px 40px 10px;
  color: white;
}

.banner-text > h3{
  font-size: 60px;
  padding: 10px 30px 0px 0px;
}

.banner-text > p{
  padding: 0px 20px 10px 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  text-align: justify;
}

.banner-text > button{
  padding: 12px 20px;
  margin: 0px 0px 10px 100px;
  background-color: #67e9ff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor:pointer;
}

.banner-text > button:hover{
  background-color: whitesmoke;
  transition: all 0.5s;
}

 /* about section */

#about-heading{
  text-align: center;
  font-size: 50px;
  margin: 10px 0px;
  padding-top: 5px;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-img{
  width: 300px;
  height: 300px;
  margin: 20px 30px 20px 50px;
  padding: 30px;
}

#about-text{
  margin: 10px;
}

#about-text > h3{
  font-size: 40px;
  text-align: start;
  margin: -70px 50px 8px 100px;
  color: #05afcd;
}

#b{
  font-size: 50px;
  display: inline-block;
}

#about-text > p{
  font-size: 16px;
  text-align: justify;
  margin: 0px 200px 10px 53px;
}

/* about button */

#about-text > button{
  border: none;
  background-color: #626161;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  margin: 5px 20px 20px 55px;
}

#about-text > button:hover{
  transition: all 0.5s;
  cursor: pointer;
  background-color: #05afcd;
  color: black;
}

/* section part */

#service{
  background-color: #d5d5d58a;
  width: 100%;
  height: 500px;
}

.section{
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 20px;
}

.box{
  width: 250px;
  height: 300px;
  background-color: rgb(30, 30, 30);
  box-shadow: 4px 4px 15px rgb(22, 22, 22);
  margin: 10px;
  padding: 20px;
  justify-content: center;
  text-align: justify;
  position: relative;
  border-radius: 10px;
}

.service > h3 {
  text-align: center;
}

.icon{
  width: 100px;
  height: 100px;
  margin: -15px 70px 0px;
}

.box > h4{
  font-size: 25px;
  text-align: center;
  padding-bottom: 8px;
}

.btn{
  margin: 8px 90px;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #9e9d9d;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
}

.btn:hover{
  background-color: whitesmoke;
}

/* footer part */

#footer{
  width: 100%;
  height: 270px;
  background-color:rgb(22, 22, 22);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 40px 0px;
}  

#ks{
  margin: 10px 20px 10px 0px;
  text-align: justify;
  width: 250px;
  height: 180px;
}

#ks > h4{
  font-size: 20px;
  margin-bottom: 10px;
}

#support{
  width: 200px;
  height: 120px;
  margin: 10px;
  cursor: default;
}

#support > li{
  padding-bottom: 5px;
}
.h4{
  font-size: 20px;
  margin-bottom: 10px;
}

#Contact{
  width: 210px;
  height: 120px;
  margin: 10px;
}

#Contact > address >p{
  padding: 3px 0px;
}

#map{
  margin: 10px;
}

/* copyright part */
#copyright{
  background-color:rgb(22, 22, 22);
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
}

#copyright > hr{
  margin: auto;
  width: 80rem;
}

#copyright > p{
  padding: 20px;
  color: red;
  font-size: 16px;
}

/* socail-media part */
#social-icon {
  background-color:rgb(22, 22, 22);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: end;
}

#social-icon >img{
  width: 30px;
  height: 30px;
  margin: 0px 30px 20px 0px; 
  transition: all 0.5s;
}

#social-icon >img:hover{
  background-color: #2f2e2e;
  padding: 10px 5px;
  transition: all 0.5s;
}